html, body {
  font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
  margin:0;
  padding:0;
}
header {
  position:fixed;
  width:100%;
  top:0;
}
footer {
  position:fixed;
  width:100%;
  bottom:0;
  text-align:center;
  margin:10px 0;
}
header h1 {
  text-align:center;
  color:#fff;
  font-size:50px;
}

